<div>
    <form>
        <div class="horiz-select">
            <div class="select">
                <ng-select
                    [items]="month"
                    bindLabel="name"
                    bindValue="id"
                    name="monthValue"
                    placeholder="Select Month"
                    [(ngModel)]="monthValue">
                </ng-select>
            </div>
            <div class="select">
                <ng-select
                    [items]="currency"
                    bindLabel="name"
                    bindValue="name"
                    name="firstCurrency"
                    placeholder="Select Currency"
                    [(ngModel)]="firstCurrency">
                    
                </ng-select>
            </div>
            <div class="select">
                <ng-select
                    [items]="currency"
                    bindLabel="name"
                    bindValue="name"
                    name="secondCurrency"
                    placeholder="Select Currency"
                    [(ngModel)]="secondCurrency">     
                </ng-select>
            </div>
            <div class="btn">
                <button (click)="getSelectedRates()">RESULT</button>
            </div>
        </div>
    </form>
    <div *ngIf="errorText">
        <p>{{ errorText }}</p>
    </div>
    <div *ngIf="calculatedData.bestBuyRate.bank">
        <p>The best sell rate bank: {{ calculatedData.bestSellRate.bank }} {{ calculatedData.bestSellRate.rate }} </p>
        <p>The worst sell rate bank: {{ calculatedData.worstSellRate.bank }} {{ calculatedData.worstSellRate.rate }}</p>
        <p>The best buy rate bank: {{ calculatedData.bestBuyRate.bank }} {{ calculatedData.bestBuyRate.rate }}</p>
        <p>The worst buy rate bank: {{ calculatedData.worstBuyRate.bank }} {{ calculatedData.worstBuyRate.rate }}</p>
    </div>
   
</div>